<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WellSpring</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/dashboard.css') }}"
    />
  </head>
  <body>
    <div class="app">
      <header class="app-header">
        <div class="app-header-logo">
          <div class="logo">
            <h1 class="logo-title">
              <span>WellSpring</span>
            </h1>
          </div>
        </div>
        <div class="app-header-navigation">
          <div class="tabs">
            <a href="#">
              Resources
            </a>
           
          </div>
        </div>
        <div class="app-header-actions">
          <button class="user-profile">
            <span id="user-name">Loading...</span>
            <span>
              <img src="https://assets.codepen.io/285131/almeria-avatar.jpeg" />
            </span>
          </button>
          <div class="app-header-actions-buttons">
            <button class="icon-button large ">
              <!-- Chatbot -->
              <a href="/chatbot">  <img src="../static/img/chat_icon.png"></img> </a>
            </button>
            <button class="icon-button large logout">
              <!-- Logout -->
              <img src="../static/img/logout_icon.png"></img>            
            </button>
          </div>
        </div>
        <div class="app-header-mobile">
          <button class="icon-button large">
            <i class="ph-list"></i>
          </button>
        </div>
      </header>
      <div class="app-body">
        <div class="app-body-main-content">
        <h1>Resources</h1>
        <div class="tiles" id="resources">
					<article class="tile">
						<div class="tile-header">
							<i class="ph-lightning-light"></i>
							<h3>
								<span>Want to Know More about Mental Health?</span>
								<span>Mental Health America</span>
							</h3>
						</div>
						<a href="https://mhanational.org/MentalHealthInfo">
							<span class="icon-button">
								<i class="ph-caret-right-bold"></i>
							</span>
						</a>
					</article>
					<article class="tile">
						<div class="tile-header">
							<i class="ph-fire-simple-light"></i>
							<h3>
								<span>Stories and more on Mental Health</span>
								<span>Copmi</span>
							</h3>
						</div>
						<a href="https://www.copmi.net.au/kids-young-people/">
							<span class="icon-button">
								<i class="ph-caret-right-bold"></i>
							</span>
						</a>
					</article>
					<article class="tile">
						<div class="tile-header">
							<i class="ph-file-light"></i>
							<h3>
								<span>Take a Survey!</span>
								<span>Offer valuable feedback for the development of this website.</span>
							</h3>
						</div>
						<a href="#">
							<span class="icon-button">
								<i class="ph-caret-right-bold"></i>
							</span>
						</a>
					</article>
				</div>
      </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
  </body>
</html>
