<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modern Design</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}" />
  </head>
  <body>
    <div class="header">
        <div class="header-text">
        <!-- <img src="static/img/header_img.jpg" alt="Header Image"> -->
          <h1>Your Title Here</h1>
          <p>Your subtitle or description here</p>
        </div>
      </div>
  </body>
</html>
