body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../img/header_img.jpg');
  background-size: 100% 100%;
}

.container {
  width: 100vh;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.header {
  background-color: #498586;
  color: #fff;
  padding: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
}

.chat-container {
  padding: 20px;
  height: 300px;
  overflow-y: auto;
  flex:1;
}

.chat-input {
  padding: 15px;
  border-top: 1px solid #ddd;
  display: flex;
  align-items: center;
}

.input-field {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.btn-send {
  width: 30px;
  height: 30px;
  border: none;
  background-color: #498586;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  margin-left: 10px;
}

.message {
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #D6D6D6;
  width: max-content; 
}

.user-message {
  background-color: #498586;
  color: #fff;
  align-self: flex-end;
  width: max-content;
  max-width: 90%;
}

.bot-message{
  background-color: #D6D6D6;
  align-self: flex-end;
  width: max-content;
  word-wrap: break-word;
  max-width: 90%;
}